<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Recipe Home</title>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-sm">
  <!-- -->
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header" th:text="${recipe.description}">
          header
        </div>
        <div class="card-body">
          <!-- ============================ -->
          <div class="row">
            <div class="col-md-3">
              <h6>Categories:</h6>
              <div class="col-md-9">
                <ul>
                  <li th:each="category: ${recipe.categories}" th:text="${category.description}"/>
                </ul>
              </div>
            </div>
          </div>
          <hr>
          <!-- ============================ -->
          <div class="row">
            <div class="col-md-3">
              <h6>Prep Time:</h6>
            </div>
            <div class="col-md-9">
              <p th:text="${(recipe.prepTime) +  '  Min'}"/>
            </div>
          </div>
          <hr>
          <!-- ============================ -->
          <div class="row">
            <div class="col-md-3">
              <h6>Difficulty:</h6>
            </div>
            <div class="col-md-9">
              <p th:text="${recipe.difficulty}"/>
            </div>
          </div>
          <hr>
          <!-- ============================ -->
          <div class="row">
            <div class="col-md-3">
              <h6>Cooktime:</h6>
            </div>
            <div class="col-md-9">
              <p th:text="${(recipe.cookTime  +  '  Min')}"/>
            </div>
          </div>
          <hr>
          <!-- ============================ -->
          <div class="row">
            <div class="col-md-3">
              <h6>Servings:</h6>
            </div>
            <div class="col-md-9">
              <p th:text="${recipe.servings}"/>
            </div>
          </div>
          <hr>
          <!-- ============================ -->
          <div class="row">
            <div class="col-md-3">
              <h6>Source:</h6>
            </div>
            <div class="col-md-9">
              <p th:text="${recipe.source}"/>
            </div>
          </div>
          <!-- ============================ -->
          <hr>
          <div class="row">
            <div class="col-md-3">
              <h6>URL:</h6>
            </div>
            <div class="col-md-9">
              <p><a href="#" th:href="${recipe.url}" >View Original</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -->
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Ingredients
        </div>
        <div class="card-body">
          <ul>
            <li th:each="ingredient: ${recipe.ingredients}">
              <span th:text="${ingredient.description}"/>
              <span class="fw-bold fst-italic ms-2 text-success" th:text="${ingredient.amount}"/>
              <span class="fst-italic text-success" th:text="${ingredient.uom.description}"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- -->
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Directions
        </div>
        <div class="card-body">
          <p th:text="${recipe.directions}">
        </div>
      </div>
    </div>
  </div>
  <!-- -->
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Notes
        </div>
        <div class="card-body">
          <p th:text="${recipe.notes.recipeNotes}">
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>